@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-mono-v23-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-mono-v23-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-mono-v23-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* Primary Colors */
  --color-primary-blue: rgba(43, 127, 255, 1);
  --color-primary-darkblue: rgba(1, 31, 74, 1);
  --color-primary-white: rgba(255, 255, 255, 1);
  /* Secondary Colors */
  --color-secondary-darkgrey: rgba(74, 74, 74, 1);
  --color-secondary-grey: rgba(116, 114, 114, 1);
  --color-secondary-darkblue: rgba(1, 31, 74, 1);
  --color-secondary-yellow: rgba(255, 208, 43, 1);
}

/* Base */
body {
  color: var(--color-primary-darkblue);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

/* Button */
.button {
  color: var(--color-primary-white);
  background-color: var(--color-primary-blue);
  border-radius: 32px;
  width: 219px;
  height: 53px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  font-size: 18px;
}

.button:hover {
  border: 2px solid var(--color-primary-blue);
  color: var(--color-primary-darkblue);
  background-color: transparent;
}

/* Link */
.footer-link,
.header-link {
  color: var(--color-primary-darkblue);
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-primary-blue);
  font-weight: 700;
}

/* Hero Section */
.hero-title {
  font-size: 140px;
  font-family: "Play", sans-serif;
  font-weight: 700;
  margin: 0;
  color: var(--color-primary-blue);
}

.capitalize {
  text-transform: capitalize;
}

/* About Us Section */
.section-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Play", sans-serif;
}

.section-title .accent {
  color: var(--color-primary-blue);
}

.accent-dark {
  color: var(--color-primary-darkblue);
  font-weight: 700;
}

/* Advantages Section */
.advantages-text {
  line-height: 1.3;
  font-weight: 400;
  font-size: 18px;
}

/* Procedures Section */
.procedures-text {
  line-height: 1.2;
  font-size: 22px;
  font-weight: 400;
  color: var(--color-primary-white);
}

/* Contact Section */
.signup-text {
  color: var(--color-primary-white);
  line-height: 1.2;
  font-size: 22px;
}
.signup-text .accent {
  color: var(--color-primary-blue);
  font-weight: 600;
}

.signup-container {
  width: 423px;
  height: 481px;
  border-radius: 32px;
  background-color: var(--color-primary-darkblue);
}

.signup-copyright {
  color: var(--color-secondary-grey);
  font-size: 12px;
}
.signup-copyright .underline {
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: var(--color-primary-darkblue);
  width: 1440px;
  height: 278px;
}

.footer-link {
  color: var(--color-primary-white);
  font-size: 16px;
  line-height: 1.2;
}
.address-link {
  color: var(--color-primary-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
}
.address-copyright {
  color: var(--color-secondary-grey);
  font-size: 13px;
}
