.text-capitalize {
    text-transform: capitalize;
}

.text-limited-title {
    max-width: 529px;
}

.text-brand {
    color: var(--color-primary-blue);
}

.text-brand-dark {
    color: var(--color-primary-darkblue);
    font-weight: 700;
}