.button {
    padding: 16px 24px;
    background-color: var(--color-primary-blue);
    cursor: pointer;
    border: 2px solid var(--color-primary-blue);
    border-radius: 32px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-primary-white);

    @media screen and (min-width: $bp-tablet) {
        padding: 16px 32px;
        font-size: 18px;
    }

    &:hover {
        background-color: var(--color-btn-hover);
        color: var(--color-primary-darkblue);
    }
}