.input {
    position: relative;

    &__control {
        width: 100%;
        padding: 16px 24px;
        transition: background-color .2s;
        background-color: transparent;
        border: 2px solid var(--color-secondary-grey);
        border-radius: 32px;
        font-size: 13px;
        line-height: 1.17;
        color: var(--color-primary-white);

        @media screen and (min-width: $bp-tablet) {
            padding: 18px 32px;
        }

        &:focus {
            outline: navajowhite;
            background-color: var(--color-secondary-grey);
        }

        &::placeholder {
            font-size: 13px;
            line-height: 1.17;
            color: var(--color-primary-white);
        }
    }

}