.procedures-card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 344px;
    height: 456px;
    background: linear-gradient(180deg,
            rgba(1, 28, 68, 0.00) 48.53%,
            rgba(1, 28, 68, 0.73) 84.61%,
            #011C44 101.39%);
    border-radius: 4px 120px;

    &__image {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 4px 120px;
    }

    &__text {
        max-width: 152px;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.2;
        color: var(--color-primary-white);
        text-align: center;
    }
}