.contact-section {
    padding-bottom: 0;

    @media screen and (min-width: $bp-tablet) {
        padding-bottom: 96px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 24px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            gap: 32px;
        }
    }

    &__map {
        // width: 360px;
        order: 2;
        height: 232px;
        margin: 0 -20px;
        border: 0;

        @media screen and (min-width: $bp-tablet) {
            width: 605px;
            height: 481px;
            margin: 0;
            border-radius: 32px;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto 8px;

        @media screen and (max-width: $bp-mobile) {
            // max-width: 220px;
            // padding: 6px 10px;
        }
    }

    &__form {
        background-image: url('../images/form-desktop-background.png');
        background-repeat: no-repeat;

        @media screen and (max-width: $bp-tablet) {
            background-image: url('../images/form-mobile-background.png');
        }

        // width: 320px;
        // max-height: 434px;
        padding: 42px 24px;
        background-color: var(--color-primary-darkblue);
        border-radius: 32px;
        line-height: 1.17;

        @media screen and (min-width: $bp-tablet) {
            // max-height: 481px;
            width: 423px;
            padding: 48px 56px;
        }
    }

    &__title {
        width: 100%;
        margin-bottom: 24px;
        font-size: 21px;
        font-weight: 600;
        line-height: 1.2;
        color: var(--color-primary-white);
        text-align: center;
    }

    &__form-field {
        margin-bottom: 16px;
        font-size: 22px;
    }
}



.form-terms {
    max-width: 213px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.5;
    color: var(--color-secondary-grey);
    text-align: center;

    &__link {
        text-underline-offset: 2px;
        color: var(--color-secondary-grey);
    }
}