/* Hero Section */
.hero-section {
    position: relative;
    overflow: hidden;
    padding: 70px 0;
    background: linear-gradient(57deg, #FFF 20.92%,
            rgba(255, 255, 255, 0.78) 44.46%,
            rgba(255, 255, 255, 0.20) 58.9%,
            rgba(255, 255, 255, 0.00) 72.45%),
        url('../../images/hero-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $bp-tablet) {
        padding: 126px 0;
        background-image: linear-gradient(89deg, #FFF 30.62%,
                rgba(255, 255, 255, 0.85) 41.31%,
                rgba(255, 255, 255, 0.19) 58.65%,
                rgba(255, 255, 255, 0.00) 72.78%),
            url('../../images/hero-background.jpg');
        background-position: right;
        background-size: contain;
    }

    &__text {
        max-width: 238px;
        margin: 0 auto;
        margin-bottom: 0;
        font-size: 12px;
        text-align: center;

        &:last-child {
            margin-top: 8px;
            font-size: 12px;
        }

        @media screen and (min-width: $bp-tablet) {
            margin: 0 0 16px 0;
            font-size: 18px;

            &:nth-child(1) {
                text-align: left;
            }
        }
    }

    &__title {
        margin-bottom: 32px;
        font-size: 54px;
        font-family: "Play", sans-serif;
        font-weight: 700;
        line-height: 0.85;
        color: var(--color-primary-blue);
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            margin: 0 0 40px;
            font-size: 140px;
            line-height: 0.8;
            text-align: left;

            &--limited {
                max-width: 529px;
            }
        }
    }

    &__button {
        display: block;
        margin: 0 auto;

        @media screen and (min-width: $bp-tablet) {
            margin: 0 0 14px 0;
        }
    }
}