.section {
    padding: 20px 0;

    &__title {
        margin-bottom: 24px;
        font-size: 32px;
        font-weight: 700;

        @media screen and (min-width: $bp-tablet) {
            font-size: 64px;
            font-family: "Play", sans-serif;
            font-weight: 700;
            line-height: 1.2;
        }

        &--centered {
            text-align: center;
        }
    }
}